
.menu{
    margin: 3%;
}

/* tablas buses */
.modal-content {
  width: 400px;
}

.botones button {
  margin: 2px;
}

.btn-agregar {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end
}

.volver {
  width: 100%;
  margin-top: 5px;
}

.contenedor {
  width: 100%;
  text-align: center;
  place-items: center;
  justify-content: center;
}

.cont {
  margin: auto;
  max-width: 1300px;
}

.q-table__middle scroll{
  text-align: left;
}


/* 
.color1 { #e25858 };
.color2 { #e9d6af };
.color3 { #ffffdd };
.color4 { #c0efd2 };
.color5 { #384252 };